@{
    ViewData["Title"] = "Home Page";
 }

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h1> welcome to azure devops ----updated--new project added </h1>
</div>
